<h1> Hello </h1>




<%= link_to 'New Task', new_task_path, remote: true %>

<div id="task-form" style="display:none;"></div>

<div class="row">
  <div class="col-md-5 col-md-offset-1">
    <h2>Tasks</h2>
  </div>

  <div class="col-md-2 col-md-offset-4">
    <%= link_to new_task_path, remote: true do %>
      <button class="btn btn-default">New</button>
    <% end %>
  </div>
</div>

<table>
<% @tasks.each do |task| %>
	<tr>
	<td><%= task.description %></td>
	<td><%= task.deadline %></td>
	<td><%= link_to edit_task_path(task), remote: true do %> <button>Edit</button><% end %></td>
	<td><%= link_to task, remote: true, method: :delete,  data: { confirm: 'Are you sure?' } do %><button>Delete!</button><% end %></td>
    <td><%= button_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<td><%= link_to 'Show', task_path(task) %></td>
	</tr>
<% end %>
</table>


<div class="row">
  <div class="col-md-6 col-md-offset-2" id="task-form" style="display:none;"></div>
</div>

<div class="row">
  <div class="col-md-7 col-md-offset-1" id="tasks"><%= render @tasks %></div>
</div>

<%= content_tag "div", id: "products", data: {url: Task.limit(10) } do %>
  Loading products...
<% end %>

<script>
$( document ).ready(function() {
    console.log $('#products').data('url');
});

</script>
